body{
    background-color: black;
  }
  
  h1
  {
    font-family: 'Special Elite', fantasy;
    color: lightgreen;
    background-color: black;
  }
  
  #show_sketch
  {
    float:right;
  }
  
  #time{
    float: right;
  }
  
  #sketch_to_be_drawn{
    color: lightpink;
  }
  
  canvas 
    {
      border:2px solid white;
      border-radius:20px;
      margin-top:135px;
      box-shadow:5px 5px 5px grey;
      box-shadow: 1px 1px 38px #ffffff;
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  @keyframes example {
  
    from {box-shadow: 1px 1px 38px pink;}
    to {box-shadow: turquoise;}
  
  }
  
  
  p, span
  {
      padding-top:10px;
      font-family: 'Special Elite', fantasy;
      font-size:25px;
      color: lightblue;
  }

#time
 {
font-size:35px; float: right; margin-right: 20px;
 }
#score 
{ 
    font-size:35px; margin-left: 20px;
}